.sliderContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: #fff;
  border: var(--primary-border);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: var(--text-color);
  border-radius: 50%;
  border: 3px solid white;
  outline: var(--primary-border);
}

.slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: var(--text-color);
  border-radius: 50%;
  border: 3px solid white;
  outline: var(--primary-border);
}

.slider:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}